#warlord_justifier{
    padding-top: 15px;
}

#warlord_loader{
    display: block;
    margin: 0 auto;
}

#warlord_block{
    min-width: 100px;
    border: 1px solid #5d80a6;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -11px;
}

#warlord_clicker{
    background-color: #5d80a6;
    color: #FFFFFF;
}